html,
body, * {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;

}
::-webkit-scrollbar {
  width: 0px;
}

.hero-banner-container{
  padding: 100px 50px;
  background-color: #dcdcdc;
  border-radius: 15px;
  position: relative;
  height: 535px;
  line-height: 0.9;
  width: 90%;
  margin:auto;
  margin-top: 20px !important;


}
.hero-banner-container .angularsolo{
  font-size: 20px;
}

.hero-banner-container h3{
  font-size: 4rem;
  margin-top: 4px;
}
.hero-banner-container h1{
  color: white;
  font-size: 90px;
  margin-left: -20px;
  text-transform: uppercase;
}
.hero-banner-image{
  position: absolute;
  top: 3%;
  right: 30%;
  width: 350px;
  height: 500px;
}

.desc{
position: absolute;
right: 5%;
bottom: 5%;
width: 300px;
line-height: 1.3;
display: flex;
flex-direction: column;
 color: black;

}
.desc p{
  color: #5f5f5f;
  font-weight: 100;
text-align: end;
font-size: 18px;

}
.desc h5{
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  /* color: black; */
  align-self: flex-end;
}
.products-heading{
  text-align: center;
  margin-bottom: 100px;


}
.products-heading h2{
  font-size: 40px;
  font-weight: 800;
}
.products-heading p{
  font-size: 26px;
  font-weight: 200;
  margin-top: 20px;
}

.footer-banner-container{
  padding: 100px 40px;
  background-color: #EC5800;
  border-radius: 15px;
  bottom: 0;
  height: 400px;
  line-height: 1;
  color: white;
  width: 90%;
  margin: auto;
  position: relative;
}
.banner-desc{
  display: flex ;
  justify-content: space-between;
}

.banner-desc .left h3{
  font-weight: 900;
  font-size: 140px;
}
.banner-desc .left {
  margin-top:-40px;
  margin-left: 30px;
}
.footer-banner-image{
  position: absolute;
  /* top: -35%;
  left: 8%; */
  top: -55px;
  left: 33%;

}

.may-also-like-image{
  position: relative;
  /* top: -35%;
  left: 8%; */
  top: 0;
  width: 1000px;
  margin: auto;
  display:flex;
}

.banner-desc .right{
  line-height: 1.4;
}

.banner-desc .right h4{
  font-weight: 800;
  font-size: 40px;
  z-index: 20000 !important;
  margin-top: 10px;

}

.footer-container{
  color: #979797;
  text-align: center;
  margin-top: 20px;
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.product-container{
  margin-top: 15px;
  overflow: auto;
  max-height: 70vh;
  padding: 20px 10px;

}
.item-desc .flex{
  display: flex;
  justify-content: space-between;
  width: 350px;
   color: #324d67;

}
.item-desc .bottom{
  margin-top: 60px;
}

.remove-item{
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}

.btn:hover{
  transform: scale(1.1,1.1);
}
.product-detail-container{
  display: flex;
 gap: 40px;
 margin: 40px;
 margin-top: 60px;
 color: #324d67;
}

.maylike-products-wrapper{
  margin-top: 50px;
}
.maylike-products-wrapper h2{
  text-align: center;
  margin: 50px;
  color: #000000;

  font-size: 28px;
}
.maylike-products-container{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.product-card{
  cursor: pointer;
   transform: scale(1, 1);
   transition: transform 0.5s ease;


 }
 .product-card:hover{
   transform: scale(1.1,1.1)
 }
 .product-image{
   border-radius: 15px;
  background-color: #ebebeb;
   transform: scale(1, 1);
   transition: transform 0.5s ease;
 }

@media screen and (max-width:800px) {
  .hero-banner-container{
    height: 560px;
  }

  .hero-banner-image{
    width: 77%;
    height: 62%;
    top: -2%;
    right: -6%;
  }

  .footer-banner-image{
    width: 77%;
    left: 30%;
    top: 6%;
    height: 56%;
  }
  .banner-desc .left h3{
    font-weight: 900;
    font-size: 50px;
    margin-left: 5px;
  }
  .banner-desc .left p{
    margin:18px;
  }
  .banner-desc .right h3{
    font-size: 45px;
  }
  .banner-desc .right p{
    font-size: 18px;
  }
  .banner-desc .right .company-desc{
    font-size: 14px;
  }
  .banner-desc{
    flex-wrap: wrap;
    gap: 20px;
  }
  .hero-banner-container{
    line-height: 1.3;
  }
  .hero-banner-container h1{
    font-size: 50px;
  }
 .hero-banner-container h3{
    font-size: 40px;
  }
  .hero-banner-container button{
    margin-top: 90px;
    z-index: 10000;
  }
  .desc{
   bottom: 60px;
  }


.cclogo-image {
  width:10%;
  height: 10%;
}

.login-bg {
  background-image: url('../assets/cis.png');
  margin-top: 500px;
}
}